<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
<test name="Chrome Browser">
    <parameter name="browser"  value="Chrome"/>
    <parameter name="StoreId"  value="762"/>
	<packages>
      <package name="manualVendorBundle" />
      <package name="purchasesBundle" />
      <package name="promotionAndWasteBundle" />
      <package name="transferBundle" />
      <package name="physicalInventoryBundle" />
      <package name="rawItemActivityBundle" />
      <package name="menuItemActivityBundle" />
      <package name="foodOverBaseBundle" />
      <package name="varianceStatBundle" />
      <package name="UserStoriesWithoutBundle" />
   </packages>
</test>
</suite>
















































































































